* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: #e4e4e4; /* Matches our login background */
}

#root {
  width: 100%;
  min-height: 100vh;
}